[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "vim-environment"]
	path = vim-environment
	url = https://github.com/GAKINDUSTRIES/vim-environment
[submodule "tmux-cpu"]
	path = tmux-cpu
	url = git@github.com:tmux-plugins/tmux-cpu.git
[submodule "tmux/.tmux/plugins/tmux-cpu"]
	path = tmux/.tmux/plugins/tmux-cpu
	url = git@github.com:tmux-plugins/tmux-cpu.git
[submodule "neovim-lua"]
	path = neovim-lua
	url = https://github.com/GAKINDUSTRIES/neovim-lua
